MSSQL_SA_PASSWORD=ChangeMe_123!
MSSQL_PID=Developer
MSSQL_DATABASE=JiuDiary
MSSQL_HOST_PORT=1433

API_HOST_PORT=5136
API_TEMPORARY_LOGIN=admin@jiudiary.local
API_TEMPORARY_PASSWORD=ChangeMe_API_123!
API_TEMPORARY_NAME=Administrator
API_TEMPORARY_ROLE=ADMIN
