MSSQL_SA_PASSWORD=ChangeMe_123!
MSSQL_PID=Developer
MSSQL_HOST_PORT=1433

API_HOST_PORT=5136
API_MSSQL_CONNECTION_STRING=Server=217.114.15.222,1433;Database=JiuDiary;User Id=sa;Password=ChangeMe_123!;Encrypt=True;TrustServerCertificate=True
API_JWT_ISSUER=JiuDiary
API_JWT_AUDIENCE=JiuDiary.Api
API_JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
API_AUTH_BOOTSTRAP_ENABLED=true
API_AUTH_BOOTSTRAP_LOGIN=admin@jiudiary.local
API_AUTH_BOOTSTRAP_PASSWORD=ChangeMe_API_123!

FRONTEND_HOST_PORT=3001
FRONTEND_BACKEND_URL=http://217.114.15.222:5136
FRONTEND_APP_URL=http://217.114.15.222:3001
