<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <target xsi:type="File"
            name="applicationFile"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${uppercase:${level}} [JiuDiary.Api | ${scopeproperty:item=UserLogin:whenEmpty=anonymous}] ${message}${onexception:inner=${newline}${exception:format=tostring}}"
            encoding="utf-8"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="applicationFile" />
  </rules>
</nlog>
